<a class="url" href="{{url}}"><img class="image" src="{{image}}" alt="TV image"></a>
<h3 class="name"><a class="url" href="{{url}}" title="{{name}}">{{name}}</a></h3>
<ul class="descrip">{{{description}}}</ul>
<p class="price">{{price}}</p>
<div class="rating" title="{{rating}} stars"><div class="stars" style="width:{{getStarsWidth rating}}px;">{{rating}}</div></div>