    <h1>{{genericContent.itemName}}</h1>
    <div class="clearfix">
        <div class="item-rating rating" title="{{rating}} stars"><div class="stars" style="width:{{getStarsWidth rating}}px;">{{rating}}</div></div>
        <p class="item-review-links"><a href="#rr-section">25 Reviews</a> | <a href="#">Write a Review</a> | <a href="#">Ask a Question</a></p>
    </div>
    <p class="item-price">{{currentItemPrice}}</p>

    <div id="prod-carousel" class="carousel slide">

        <!-- Carousel items -->
        <div class="carousel-inner">
        {{#each alternateImageData}}
            <div class="item"><img class="item-image" src="{{this.lgImageSrc}}" alt="product image"></div>
        {{/each}}
        </div>
        <ol class="carousel-indicators clearfix" style="width:{{getIndicatorWidth alternateImageData}}px">
            {{#each alternateImageData}}
                <li data-target="#prod-carousel" data-slide-to="{{@index}}"></li>
            {{/each}}
        </ol>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#prod-carousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#prod-carousel" data-slide="next"></a>
    </div>

    <h2>About</h2>
    <div class="clearfix">
        <p class="short-desc">{{cleanup genericContent.shortDescription}}</p>
        <div class="buying-options">
            <form class="clearfix" action="/">
                <label>
                    <select class="qty" id="qty">
                        <option value="1">Qty</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </label>
                <button type="button" class="btn btn-warning add-to-cart" id="add-to-cart">Add to Cart</button>
            </form>

            <ul>
                <li class="links find-link"><a href="#">Find This Product Locally</a></li>
                <li class="links arrival-link"><a href="#">Calculate Arrival Date</a></li>
                <li class="links share-link"><a href="#">Share With a Friend</a></li>
            </ul>
        </div>
    </div>

