<article class="product">
  <img class="image" src="{{image}}" alt="TV image">
  <h3 class="name"><a class="url" href="{{url}}">{{name}}</a></h3>
  <ul class="descrip"><li>31.5" screen measured diagonally from corner to corner <LI>HDMI inputs: 3<li>Wall-mountable, detachable base<li>High brightness of 420 cd/m2 with 6.5 ms response time</ul>
  <p class="price">{{price}}</p>
  <p class="rating">{{rating}}</p>
</article>