<h1>{{genericContent.itemName}}</h1>
<div class="item-rating rating" title="{{genericContent.rating}} stars"><div class="stars" style="width:{{pw}}px;">{{genericContent.rating}}</div></div>
<p class="item-review-links"><a href="#rr-section">25 Reviews</a> | <a href="#">Write a Review</a> | <a href="#">Ask a Question</a></p>
<p class="item-price">{{sellers.0.currentItemPrice}}</p>

<img class="item-image" src="{{imageSource}}" alt="product image">

<h2>About</h2>
<div class="short-desc">{{genericContent.shortDescription}}</div>