<section>
    <header>
        <h2>Product Details</h2>
        <button>Have a Question?</button>
    </header>

    <ul>
        <li><a href="#">Full Description</a></li>
        <li><a href="#">Specifications</a></li>
        <li><a href="#">Warranty</a></li>
        <li><a href="#">Financing</a></li>
        <li><a href="#">Gifting</a></li>
    </ul>

    <div>
        <section class="full_desc">
            {{genericContent.shortDescription}}
        </section>

        <section class="specs">
            <table>
                {{#each itemAttributes}}
                    <tr>
                        <td>{{this.attributeName}}</td>
                        <td>{{this.attributeValue}}</td>
                    </tr>
                {{/each}}

            </table>
        </section>

        <section class="warranty">
            <h3>Product warranty: <a href="#">See details</a></h3>
            <div class="warranty-details">
                <h3>{{genericContent.itemName}}</h3>
                <p><strong>Assembled Country of Origin:</strong> {{genericContent.assembledCountryOfOrigin}}</p>
                <p><strong>Components Country of Origin:</strong> {{genericContent.componentsCountryOfOrigin}}</p>
                <p><strong>Supplier Warranty:</strong> {{genericContent.supplierWarranty}}</p>
            </div>

            <aside>
                <h3>Walmart Product Care Plans</h3>
                <p>A limited product warranty is included free for most items. With an optional Walmart Care Plan you can extend coverage up to 3 additional years. Walmart Care Plan Extended Warranties cover 100% of the cost for repair or replacement, including shipping charges for the exchange. <a href="#">See Details</a></p>
                <p>We'll show you extended warranty options and pricing at checkout if applicable.</p>
            </aside>

            <p>If you made your purchase in a Walmart store and would like to purchase a warranty.
                <a href="http://see.walmart.com/walmart/protection-plans/" title="Warranty &amp; Installation Plans">Click Here</a>
            </p>
        </section>

        <section class="financing">
            <h3>Enjoy Great Financing!</h3>
            <p>Make the most of your shopping experience with the Walmart Discover&reg; or Walmart Credit Card.</p>
            <p>Open a Walmart Credit Card, Spend $100 Today and Get $20 Back*</p>
            <p>*Offer subject to credit approval</p>
            <p><a href="#">Learn More</a> or <a href="#">Apply Now</a></p>
            <p><strong>No Payments + No Interest</strong> if Paid in Full in 6 Months!</p>
            <p>Enjoy no payments for 6 months. You'll have 6 months with no payments, and no interest if paid in full within 6 months on orders over $250. Otherwise, interest will be charged from the original date of purchase. Bill Me Later is the quick, easy, secure way to buy online without using your credit card. Simply select Bill Me Later at checkout. Subject to credit approval.</p>
            <p><a href="#">See Terms</a></p>
        </section>

        <section class="gifting">
            <p>Gift options are not available for this item.</p>
        </section>
    </div>
</section>