<div class="content">
    <header>
        <h3 class="title">{{title}}</h3>
        <p class="customer">by <a href="#">{{customer}}</a> on {{date}}</p>
        <div class="avg-rating rating" title="{{rating}} stars"><div class="stars" style="width:{{getStarsWidth rating}}px;">{{rating}}</div></div>
    </header>

    <p class="review-text">{{review}}</p>
</div>

<footer>
    <ul class="rating-data">
        <li>
            Value:
            <div class="rating" title="{{value}} stars"><div class="stars" style="width:{{getStarsWidth value}}px;">{{value}}</div></div>
        </li>
        <li>
            Meets Expectations:
            <div class="rating" title="{{meetsexpectations}} stars"><div class="stars" style="width:{{getStarsWidth meetsexpectations}}px;">{{meetsexpectations}}</div></div>
        </li>
        <li>
            Picture Quality:
            <div class="rating" title="{{picturequality}} stars"><div class="stars" style="width:{{getStarsWidth picturequality}}px;">{{picturequality}}</div></div>
        </li>
        <li>
            Sound Quality:
            <div class="rating" title="{{soundquality}} stars"><div class="stars" style="width:{{getStarsWidth soundquality}}px;">{{soundquality}}</div></div>
        </li>
        <li>
            Features:
            <div class="rating" title="{{features}} stars"><div class="stars" style="width:{{getStarsWidth features}}px;" title="{{features}} stars">{{features}}</div></div>
        </li>
    </ul>
    <ul class="customer-data">
        <li>Age: <span>{{age}}</span></li>
        <li>Gender: <span>{{gender}}</span></li>
        <li>Ownership: <span>{{ownership}}</span></li>
        <li>Usage: <span>{{usage}}</span></li>
        <li>City: <span>{{city}}</span></li>
    </ul>
</footer>
